.feature-section {
    clip-path: polygon(100% 0, 100% 70%, 0 100%, 0 0);
    background-color: #F6F9FC;
    padding: 40px 20px;
}

.feature-wrapper {
    width: 1080px;
    display: flex;
    margin: auto;
    padding: 128px 32px;
}

.feature-wrapper article:first-child {
    margin-right: 112px;
    padding-top: 46px;
}

.feature-wrapper article {
    margin-right: 68px;
}

.feature-wrapper article h4 {
    margin-bottom: 8px;
}

.feature-wrapper article p {
    margin-bottom: 24px;
}

.feature-wrapper article .cta-buttons {
    width: 270px;
}

.feature-wrapper article:first-child h4 {
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 24px;
}

.feature-wrapper .cta-buttons a {
    color: #635BFF;
}

.feature-wrapper article:first-child .cta-buttons a:first-child {
    padding: 6px 16px;
    background-color: #635BFF;
    border-radius: 16px;
    color: white;
}

.feature-wrapper article:first-child .cta-buttons a:last-child {
    color: #635BFF;
}

