.content-wrapper {
    z-index: 1;
    width: 1080px;
    margin: auto;
    display: flex;
    padding: 0 16px;
}

.caption-content {
    width: 540px;
    padding: 0 16px;
    margin-top: 98px;
    margin-bottom: 142px;
    margin-right: 140px;
    max-width: 50%;
}

.caption-content h2,
.caption-content p,
.caption-content div {
    margin-bottom: 32px;
}

.caption-content h2 {
    /* width: 640px; */
    font-size: 82px;
    font-weight: 600;
    line-height: 97px;
    color: #3A3A3A;
}

.caption-content p {
    font-weight: 700;
    line-height: 28px;
    color: #425466;
}

.caption-content .cta-buttons a:first-child {
    background-color: #0A2540;
    color: white;
    border-radius: 15px;
    padding: 6px 16px;
}

.companies-logos {
    margin-bottom: 110px;
}

/* medium article */

.modular-section {
    background-color: #F6F9FC;
}

.caption-content.caption-content.medium {
    margin-right: 62px;
    margin-bottom: 0;
    margin-top: 128px;
}

.caption-content.medium h2 {
    font-size: 52px;
    font-weight: 700;
    line-height: 68px;
    color: #0A2540;
}

.caption-content.medium h3 {
    font-size: 16px;
    color: #635BFF;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 32px;
}